body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-image: url(../img/bacground1.gif);
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	padding-left: 30px;
	color: blue;
}
ul {
 list-style-type: none;
}
p{
	font: bold;
}
li {
	/*text-align: center;*/
	text-decoration: none;
}
a {
	text-decoration: none;
	color: green ;
}
a:hover {
	color: red;
}
a:visited {
color: blue;
}
a:active {
	color: #9933FF!important;
}
.lesson{
	padding-left: 20px;
}
.title{
	font-weight: bold;
}