body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-image: url(../img/bacground1.gif);
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	padding-left: 30px;
	color: blue;
}
ul {
 list-style-type: none;
}
p{
	font: bold;
}
li {
	/*text-align: center;*/
	text-decoration: none;
}
a {
	text-decoration: none;
	color: green ;
}
a:hover {
	color: red !important;
}
a:visited {
color: blue;
}
a:active {
	color: yellow;
}
.lesson {
	padding-left: 20px;
}
.title {
	font-weight: bold;
}
.left {
	float: left;
}
.right {
	margin-left: 350px;
	padding-top: 60px;
}
.clean {
	clear: both;
}